<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
  <div class="col">
    <form action="" [formGroup]="miFormulario"
    (ngSubmit)="submitFormulario()">

      <!--Nombre-->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
          <input type="text"
          class="form-control"
          formControlName="nombre"
          placeholder="Nombre del Usuario">

          <span class="form-text text-danger"
          *ngIf="campoNoValido('nombre')">Debe de ser en formato de nombre y apellido</span>

        </div>
      </div>

      <!--Email-->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input type="email"
          class="form-control"
          formControlName="email"
          placeholder="email del Usuario">
          <span class="form-text text-danger"
          *ngIf="campoNoValido('email')">{{emailErrorMsg}}</span>


         <!-- Validaciones hechas con metodos separados
          <span class="form-text text-danger" *ngIf="emailRequired()">El correo es obligatorio </span>

          <span class="form-text text-danger" *ngIf="emailFormato()">El valor ingresado no es un correo </span>

          <span class="form-text text-danger" *ngIf="emailTomado()">El correo ya fue tomado </span>-->

        </div>
      </div>

      <!--Username-->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-9">
          <input type="text"
          class="form-control"
          formControlName="username"
          placeholder="username del Usuario">
          <span class="form-text text-danger"
          *ngIf="campoNoValido('username')">El username no pueder ser guaguaso9
          </span>
        </div>
      </div>

      <!--Password-->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input type="password"
          class="form-control"
          formControlName="password"
          placeholder="password del Usuario">
          <span class="form-text text-danger"
          *ngIf="campoNoValido('password')">El password debe tener al menos 9 caracteres
          </span>
        </div>
      </div>

      <!--Password2-->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Confirmar Password</label>
        <div class="col-sm-9">
          <input type="password"
          class="form-control"
          formControlName="password2"
          placeholder="password del Usuario">
          <span class="form-text text-danger"
          *ngIf="campoNoValido('password2')">El password debe coincidir con el anterior
          </span>
        </div>
      </div>

      <div class="row">
      <div class="col">
        <button type="submit"
        class="btn btn-primary float-end"
        [disabled]="miFormulario.pending">Crear</button>
      </div>
      </div>
    </form>
  </div>
</div>

<h2>Form Valid: {{miFormulario.valid}}</h2>

<h2>Form Status: {{miFormulario.status}}</h2>

<h2>Form Pending: {{miFormulario.pending}}</h2>

<h2>Form Errors: {{miFormulario.errors | json}}</h2>

<h4>Nombre</h4>
<pre>{{miFormulario.controls['nombre'].errors | json}}</pre>

<h4>Email</h4>
<pre>{{miFormulario.controls['email'].errors | json}}</pre>

<h4>Username</h4>
<pre>{{miFormulario.controls['username'].errors | json}}</pre>

<h4>Password</h4>
<pre>{{miFormulario.controls['password'].errors | json}}</pre>

<h4>Password2</h4>
<pre>{{miFormulario.controls['password2'].errors | json}}</pre>
